.top-bar {
    height: 30px;
    width: 100%;
    background-color: black;
}

.top-bar img {
    height: 40%;
}

.jumbo_section {
    padding: 300px 0 60px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.game_carousel_section,
.console_section {
    margin-bottom: 100px;
}

.game_carousel {
    border: 2px solid transparent;
}  

.game_carousel:hover {
    border: 2px solid rgb(27,129,211);
}

.game_carousel img {
    width: 100%;
    border-radius: 15px;
}

.console_wrap {
    height: 100%;
    border: 2px solid transparent;
}

.console_wrap img {
    width: 100%;
    opacity: 0.7;
    margin-bottom: 15px;
}

.console_wrap img:hover {
    opacity: 1;
}

.console_wrap:hover {
    border-bottom: 2px solid rgb(61,111,229);;
}

.ps5_section_header p:first-of-type {
    color: rgb(61,111,229);
    text-transform: uppercase;
    font-size: 0.8em;
    margin-bottom: 0;
}

.ps5_section_header p:last-of-type,
.ps5_section_main p:last-of-type,
.ps4_section_header p:last-of-type {
    color: rgb(149,149,149);
    margin-top: 20px;
    margin-bottom: 30px;
}

.ps5_section_header,
.ps5_section_main,
.ps4_section_header,
.nuove_uscite_section {
    margin-bottom: 40px;
}

.ps5_section_main img {
   width: 100%;
}

.nuove_uscite_section {
    background-color: rgb(31,31,31);
    padding: 30px 0 30px 0;
}

.nuove_uscite_wrap img {
    width: 100%;
}

.nuove_uscite_wrap p {
    font-size: 0.9em;
}

.ps4_wrap img,
.ps_plus_section img {
    width: 100%;
}

.ps4_section_main {
    margin-bottom: 70px;
}

.ps_plus_section {
    background-color: rgb(190,188,187);
}

.ps_plus_wrap_text {
  
}

#jumbotron_first {
    background-image: url(../img/jumbo-bg.png);
    margin-bottom: 30px;
}

#jumbotron_second {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg); 
}


.my_br {
    border-radius: 20px;
}

.grey {
    background-color: rgba(54,54,54);
}

.orange {
    background-color: rgba(205,61,15);
}

.dodgerblue {
    color: rgb(61,111,229);
}

#returnal_logo,
#takes2_logo,
#ps_plus_logo {
    width: 60%;
}
