.top-bar {
    height: 30px;
    width: 100%;
    background-color: black;
}

.top-bar img {
    height: 40%;
}

.jumbo_bg {
    background-image: url(../img/jumbo-bg.png);
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
}

.jumbo_content_wrap {
    width: 400px;
    border: 2px solid purple;
}

.game_carousel_section {
    margin-bottom: 100px;
}

.game_carousel {
    margin-bottom: 50px;
    border: 2px solid transparent;
}  

.game_carousel:hover {
    border: 2px solid rgb(27,129,211);
}

.game_carousel img {
    width: 100%;
    border-radius: 15px;
}

.my_br {
    border-radius: 20px;
}

.grey {
    background-color: rgba(54,54,54);
}

.orange {
    background-color: rgba(205,61,15);
}

#returnal_logo {
    width: 70%;
}
